<%provide(:title, 'Home')%>

<div class="center jumbotron">
<h1> Welcome to BOOK ONLINE STORE </h1>
</div>

<ul class="books">
	<% @books.each do|book| %>
		<li>
		  <h4><%=link_to book.title, book%></h4>
		  <%if logged_in? %>
		  	<%=link_to "delete" , book , method: :delete , data: {confirm: "you sure?"} %>
		  	| <%=link_to "edit" , edit_book_path(book) %>
		  <% end %>
	    </li>
	<%end%>
	
</ul>